extends layout

block extraHeader
  script(src='https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.time.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.resize.min.js')
  script(src='http://flot.base.is/jquery.flot.downsample.js')
  script(src='https://rawgit.com/MichaelZinsmaier/CurvedLines/master/curvedLines.js')
  script.
    Number.prototype.round = function() {
          return Math.round(this);
    }

    function simple_moving_averager(period) {
        var nums = [];
        return function(num) {
            nums.push(num);
            if (nums.length > period)
                nums.splice(0,1);  // remove the first element of the array
            var sum = 0;
            for (var i in nums)
                sum += nums[i];
            var n = period;
            if (nums.length < period)
                n = nums.length;
            return(sum/n);
        }
    }

    function setTempAndColor(element, temp) {
        element.text(temp.round());
        if(temp < 35) {
            element.addClass('thirtyfive');
        } else if(temp < 40) {
            element.addClass('fourty');
        } else if(temp < 45) {
            element.addClass('fourtyfive');
        } else if(temp < 50) {
            element.addClass('fifty');
        } else if(temp < 55) {
            element.addClass('fiftyfive');
        } else if(temp < 60) {
            element.addClass('sixty');
        } else if(temp < 65) {
            element.addClass('sixtyfive');
        } else if(temp < 70) {
            element.addClass('seventy');
        } else if(temp < 75) {
            element.addClass('seventyfive');
        } else if(temp < 80) {
            element.addClass('eighty');
        } else if(temp < 85) {
            element.addClass('eightyfive');
        } else if(temp < 90) {
            element.addClass('ninety');
        } else {
            element.addClass('ninetyplus');
        }

    }

    $(function() {
      var d = new Date();
      d.setDate(d.getDate() - 1);
      $.ajax({
        url: "/api/temps/since",
        data: {st: d.getTime()}
      }).done(function( wrapper ) {
        var bbqData = [];
        var tempData = [];

        var data = wrapper.data;

        var smaBBQ = simple_moving_averager(6);
        var smaTemp = simple_moving_averager(6);
        for(var i=0;i<data.length;i++) {
            bbqData.push([data[i].timestamp, smaBBQ(data[i].bbq)]);
            tempData.push([data[i].timestamp, smaTemp(data[i].temp)]);
        }
        bbqData = bbqData.reverse();
        tempData = tempData.reverse();

        $.plot($("#placeholder"), [
            {
                data: bbqData,
                curvedLines: {
                    apply: true  // <- set apply <- curve only this data series
                }
            },
            {
                data: tempData,
                curvedLines: {
                    apply: true  // <- set apply <- curve only this data series
                }
            }
        ], 
        { 
            xaxis: {
              mode: "time",
              timezone: "browser",
              timeformat: "%a %I%p"
            },
            series: {
              downsample: { 
                threshold: 56 
              },
              curvedLines: {
                active: true,
                nrSplinePoints: 20 // <- control nr of helper points
              }    
            }
        });

        $('#placeholder').resize(function () {
            console.log("Placeholder is now "
                + $(this).width() + "x" + $(this).height()
                + " pixels");
        });

        setTempAndColor($('#current_indoor .temp'),  tempData[tempData.length-1][1]);
        setTempAndColor($('#current_outdoor .temp'), bbqData[bbqData.length-1][1]);
        $('#current_indoor .temp').text(tempData[tempData.length-1][1].round());
      });
    });

block content
  section(id='current_temps_section')
    div(id='current_temps_wrapper')
      div(id='current_indoor', class='current_temp')
        p(class='temp_label') Indoor Temp
        p(class='temp') -
      div(id='current_outdoor', class='current_temp')
        p(class='temp_label') Outdoor Temp
        p(class='temp') -
  div(id='placeholder' style="width:100%;height:300px")