body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: auto;
}

a {
  color: #00B7FF;
}

.battery, .temp, .humidity {
    font-size: 5em;
    font-weight: bold;
    font-family: 'Helvetica Neue', 'Open-Bold', sans-serif;
    border-radius: 50%;
    width: 100px;
    height:100px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-size: 2em;
    font-family: 'Helvetica Neue', 'Open-Bold', sans-serif;
}

.current_battery, .current_temp, .current_humidity {
    margin-right: auto;
    margin-left: auto;
    width: 200px;
    display: inline-block;
    text-align: center;
}

#current_temps_section {
    background: #4285f4;
    margin-bottom: 50px;
}

#current_temps_wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

#current_temps {
    background-color: grey;
}

.battery_label, .temp_label, .humidity_level {

}

.battery.low, .temp.ninetyplus, .humidity.high {
    background-color: #D02801;
}

.temp.ninety {
    background-color: #FF4F00;
}

.temp.eightyfive {
    background-color: #FF7400;
}

.temp.eighty {
    background-color: #FF9900;
}

.temp.seventyfive {
    background-color: #FFB200;
}

.temp.seventy {
    background-color: #FFCC00;
}

.temp.sixtyfive {
    background-color: #FBE102;
}

.battery.warn, .temp.sixty, .humidity.warn {
    background-color: #F7F705;
}

.temp.fiftyfive {
    background-color: #BBFB02;
}

.battery.good, .temp.fifty, .humidity.low {
    background-color: #7FFF00;
}

.temp.fourtyfive {
    background-color: #42FB7B;
}

.temp.fourty {
    background-color: #05F7F7;
}

.temp.thirtyfive {
    background-color: #02E1FB;
}